@if (Context.User.Identity.IsAuthenticated == false)
{
    <a asp-action="Perfil" asp-controller="Doctores"
       class="nav-link">
        Log In
    </a>
}
else
{
    <a asp-action="LogOut" asp-controller="Identity"
       class="nav-link btn-success">
        Log Out @Context.User.Identity.Name
    </a>
}