<h1>Log In Doctores</h1>

<form method="post">
    <label>Username</label>
    <input type="text" name="username" class="form-control"
           placeholder="Apellido"/>
    <br/>
    <label>Password</label>
    <input type="text" name="password" class="form-control"
           placeholder="Id Doctor"/>
    <br/>
    <button type="submit" class="btn btn-danger">
        Log In
    </button>
</form>
<h1 style="color:red">
    @ViewData["MENSAJE"]
</h1>